### Tipe data numerik

In [1]:
a = 5
print(type(a))

b = 3.14
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

### Tipe data sequence

Tipe data string

In [2]:
s = "Hello, World!"
print(s)

print(type(s))

# Akses string dengan indeks
print(s[0])
print(s[7:12])

Hello, World!
<class 'str'>
H
World

Tipe data list

In [3]:
# List kosong
a = []
print(a)

# List dengan beberapa elemen
b = [1, 2, 3, 4, 5]
print(b)

# List dengan berbagai tipe data
c = [1, "dua", 3.0, True]
print(c)

[]
[1, 2, 3, 4, 5]
[1, 'dua', 3.0, True]

In [7]:
# akses elemen list dengan indeks
print(b)
print(b[0])    # elemen pertama
print(b[1:4])  # elemen kedua sampai keempat
print('====================')
print(c)
print(c[-1])  # elemen terakhir
print(c[-3])  # elemen ketiga dari belakang

[1, 2, 3, 4, 5]
1
[2, 3, 4]
====================
[1, 'dua', 3.0, True]
True
dua

Tipe data tuple

In [8]:
# Tuple kosong
tup1 = ()

tup2 = ('satu', 'dua', 'tiga')
print(tup2)

('satu', 'dua', 'tiga')

Tipe data boolean

In [9]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [10]:
if 1:
    print("1 adalah truthy")

if not 0:
    print("0 adalah falsy")

1 adalah truthy
0 adalah falsy

Tipe data set

In [11]:
# Set kosong
set1 = set()

set2 = set('Hello World')
print('Set dari string:', set2)

set3 = set(['Hello', 'World'])
print('Set dari list:', set3)

Set dari string: {'e', 'o', ' ', 'l', 'H', 'r', 'd', 'W'}
Set dari list: {'World', 'Hello'}

Tipe data dictionary

In [12]:
# Dictionary kosong
dict1 = {}

dict2 = {'nama': 'Alice', 'umur': 25}
print(dict2)

{'nama': 'Alice', 'umur': 25}

In [13]:
# Akses nilai dictionary dengan kunci
print('Nama:', dict2['nama'])
print('Umur:', dict2['umur'])

Nama: Alice
Umur: 25